<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <!--  Covid result table -->
            <div class="col-md-12">

                <div class="card">
                    <div class="header">
                        <div class="row align-items-center custom">

                            <div class="col">
                                <h4 class="title">
                                    <span class="col text-left"> Covid results</span>
                                    <span class="col text-right" style="float: right;">
                                        <form>
                                            <input placeholder="search" class="form-control" type="search" name="search"
                                                [(ngModel)]="filter">
                                            <i *ngIf="filter?.length > 0" class="fa fa-close fa-1x closeIcon"
                                                (click)="clear()"></i>
                                        </form>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th (click)="sortCountry('country')">Country
                                        <span class="glyphicon sort-icon" *ngIf="key =='country'"
                                            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>


                                    <th>Confirmed
                                    </th>
                                    <th>Deaths

                                    </th>
                                    <th>Recovered
                                    </th>
                                    <th>Last Updated Time</th>
                                    <th>City</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let row of TotalCountryResult?.data.covid19Stats | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; index as i;">
                                    <!-- <td *ngFor="let cell of row">{{cell}}</td> -->
                                    <td scope="row">{{i+1}}</td>
                                    <td>{{row.country}}</td>

                                    <td>{{row.confirmed}}</td>
                                    <td>{{row.recovered}}</td>
                                    <td>{{row.deaths}}</td>
                                    <td>{{row.lastUpdate| date : 'mediumTime' }}
                                    </td>
                                    <td><span style="color:darksalmon" *ngIf="row.city == null">
                                            No record
                                        </span>
                                        <span *ngIf="row.city != null">
                                            {{row.city}}
                                        </span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls class="pagination elorpagination" (pageChange)="p = $event " maxSize="9"
                            directionLinks="true" autoHide="false" responsive="true" previousLabel="Previous"
                            nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>